
{% extends "base.html" %}

{% load static %}


{% block content %}
<br><br>
<div class='home'>
    
    <div class="left-part">
        <h1>About Us</h1> 
    <br>
    <h4>We are providing the best quality service for the past 10 years. We'll be really glad to serve you. Please pay a visit to our restaurant.</h4>
    </div>

   <div class="right-part"> <img class='res1' src="{% static 'images/res2.jpg' %}" alt=""></div>
</div>

<link rel="stylesheet" href="{% static "css/styles.css" %}">

{% endblock  %}